<ion-tabs selectedIndex="{{tabIndex}}">
  <ion-tab [root]="tab1Root" tabTitle="Instagram" tabIcon="logo-instagram"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Facebook" tabIcon="logo-facebook"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="App Settings" tabIcon="ios-more"></ion-tab>
</ion-tabs>


