<ion-header>

  <ion-navbar color="facebook">
    <ion-title style="text-align:center;">Facebook</ion-title>
  </ion-navbar>

</ion-header>



<ion-content class="facebookHome" padding>
  <div *ngIf="pageReady">
    <p ion-text style="padding-top:9vh;text-align:center;font-size:18px">
      Incia sessión en tu cuenta de Facebook para conectar con Social Analytics
    </p>
    <br>
    <br>
    <br>
    <button *ngIf="!isFbLoggedIn" style="text-transform: none;font-size:1em" primary ion-button icon-right (click)="facebookLogin()"
      block>Iniciar sesión con la aplicación de Facebook
      <ion-icon name="ios-arrow-forward"></ion-icon>
    </button>
    <button *ngIf="isFbLoggedIn" style="text-transform: none;font-size:1em" primary ion-button (click)="facebookReports()" block>
      Abrir informes de Facebook
    </button>
    <br>
    <br>
    <br>
    <div style="width: 100%; height: 14px; border-bottom: 1px solid grey; text-align: center" *ngIf="!isFbLoggedIn">
      <span style="font-size: 20px;padding: 0 10px;color:grey" class="facebookHome">
        or
        <!--Padding is optional-->
      </span>
    </div>
    <br>
    <br>
    <br>
    <button *ngIf="!isFbLoggedIn" style="text-transform: none;background-color:#3B5998;font-size:1em" ion-button icon-right (click)="facebookLogin()"
      block>Iniciar sesión con el teléfono o el correo electrónico</button>
    <br>
    <div style="text-align:center">
      <p style="color:rgb(60, 84, 133);text-decoration:none" (click)="inAppBrowserOpen(1)">Crear cuenta</p>
      <p style="color:rgb(60, 84, 133);;text-decoration:none">Ahora no</p>
      <p style="color:grey;text-decoration:none;font-size:0.9em" (click)="inAppBrowserOpen(2)">¿Has olvidado la contraseña?</p>
    </div>
  </div>
</ion-content>