page-profile {
    .instagramHome {
        background: linear-gradient(135deg, rgb(113,23,234) 0%, rgb(234,96,96) 100%);
        animation: a 10s ease infinite;
        background-size:400% 400%;
      }
      @keyframes a {
        0% { background-position: 0% 50%}
        50% { background-position:100% 50% }
        100% { background-position:0% 50% }
      }
}
