<ion-header>

  <ion-navbar>
    <ion-title style="text-align:center">Ajustes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<div style="padding-top:20vh"></div>
<div>
<button type="button" primary ion-button block (click)="cancelSubscriptionInstagram()" *ngIf="hideSubscribedInstagram">Cancelar subscripción a reportes de Instagram</button>
<button type="button" primary ion-button block (click)="cancelSubscriptionFacebook()" *ngIf="hideSubscribedFacebook">Cancelar subscripción a reportes de Facebook</button>
<button type="button" color="light" ion-button block *ngIf="!hideSubscribedInstagram">No hay subscripción para reportes de instagram</button>
<button type="button" color="light" ion-button block *ngIf="!hideSubscribedFacebook">No hay subscripción para reportes de Facebook</button>

</div>
</ion-content>